
*, :after, :before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

body {
    color: #494949;
    background: #FFFFFF;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .01rem;
    line-height: 1.5;
}
